// @import  './../../'

// .bg-Login{
//     background-image: `url(${Background})`;
// }

.neumorphism{
    border-radius: 16px;
    background: #F5F8FB;
    box-shadow:  15px 15px 24px #e1e4e7,
                 -15px -15px 24px #ffffff;
    
}