
@import './../../utilities/scss/variables';

.upperbar {
    background-color: $background;
}
.without-menu-bar {
        // margin-left: 250px;
}
.with-menu-bar{
    transition: margin-left .3s ease-in-out, width .3s ease-in-out;
    margin-left: 0;
}
