@import './src/scss/variables';


aside{
    transition: opacity 600ms, visibility 600ms;
}

.main-header-reduced {
    transition: margin-left .3s ease-in-out;
    margin-left: 0px;
}

.main-header {
    transition: margin-left .3s ease-in-out;
    margin-left: 250px;
}

:not(.layout-fixed) .main-sidebar {
    height: inherit;
    min-height: 100%;
    position: fixed;
    top: 0;
}

[class*=sidebar-dark-] {
    background-color: #222E3C;
}

.main-sidebar {
    overflow-y: hidden;
    z-index: 1038;
}

.main-sidebar, .main-sidebar::before {
    transition: margin-left .3s ease-in-out, width .3s ease-in-out;
    width: 250px;
}

.sidebar {
    height: calc(100% - (3.5rem + 1px));
    overflow-y: auto;
    padding-bottom: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 0;
}

[class*="sidebar-dark"] .user-panel {
    border-bottom: 1px solid #4f5962;
}

.user-panel .info {
    text-decoration: none;
    color: $secondary;
}


.navbar-nav :hover{
    color: #eaedf2;
}

.sidebar nav ul li {
    list-style: none;
}
.sidebar li a{
    color: $secondary;
    text-decoration: none;
    background-color: transparent;
    border-radius: 0.25rem !important;
    font-weight: 400;
}

.sidebar li a:hover{
    //background: transparent;
    opacity: 0.6;
    color: #eaedf2;
    background-color: #233344;
}
.sidebar .nav-link{
    font-size: 1rem;
    vertical-align: middle;
    padding: .55rem .75rem;
    border-radius: .75rem;
}
.sidebar .nav-link[class*="active"]{
   // background-color: $light; 
   color: #eaedf2;
   background-color: #233344;
    font-size: 0.95em;
    font-weight: 500;
}
/*
.navbar-nav .nav-link[class*="active"]::before {
    font-family: "Font Awesome 5 Free";
    content: "\f061";
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
    //background-color: $primary;
    font-weight: 700;
}
*/
.sidebar .nav-link[aria-expanded="true"]{
    //background-color: $primary;
    //font-weight: bold;
}

.sidebar .nav-item-parent:after{
        font-family: "Font Awesome 5 Free";
        content: "\f104";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
}
.sidebar .nav-item-parent[aria-expanded="true"]:after {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    //background-color: $primary;
    font-weight: 900;
}

.sidebar li ul {
    padding: 0.3rem;
}

.sidebar a[class*="p-nav-link"] {
    padding-left: 1.5em !important; ;
}