
@import './../../../utilities/scss/variables';
 
/*navbar-light {
/*
.upperbar .navbar-nav :hover {
    color: $primary;
}
navbar-light {
    //background-color: #f8f9fa;
}
.main-header {

    border-bottom: 1px solid #dee2e6;
    z-index: 1034;
}*/