@import "./utilities/scss/variables";
@import './utilities/scss/custom.scss';

@font-face {
    font-family: "OpenSans";
    src: local("OpenSansSemiBold"),
      url("./utilities/fonts/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: normal ;
  }
  
@font-face {
    font-family: "Roboto";
    src: local("RobotoRegular"),
      url("./utilities/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
  }

  html,body,.wrapper{
    min-height: 100%;
  }

  body{
    overflow: auto;
  }
  .wrapper {
    position: relative;
  }
  
  /*
   * when  no footer
   * add : min-height: 94vh;
   */
 
   
.wrapper {
  position: relative;
}

/*
 * when  no footer
 * add : min-height: 94vh;
 */
.wrapper .content-wrapper  {
  min-height: 100vh;
}

.layout-boxed .wrapper {
  box-shadow: 0 0 10 rgba(0, 0, 0, 0.3);
}

.content{
  background-color: #F5F8FB;
  padding: 10px 0 0 0;
  border-radius: 19px 19px 0 0;
}

.content-wrapper {
  background-color: #F5F8FB;
  margin-left: 250px;
  transition: margin-left 0.1s ease-in-out;
}
.content-header .breadcrumb {
  background: 0 0;
  line-height: 1.8rem;
  margin-bottom: 0;
  padding: 0;
}
.content-header {
  padding: 15px .5rem;
}
.content-header h1 {
  font-size: 1.8rem;
  margin: 0;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
  
  .root{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 0%;
    background-color: #F900F9;
  }
  