@import "./utilities/scss/variables";
@import '~antd/dist/antd.css';

@font-face {
    font-family: "OpenSans";
    src: local("OpenSansSemiBold"),
      url("./utilities/fonts/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: normal ;
  }
  
@font-face {
    font-family: "Roboto";
    src: local("RobotoRegular"),
      url("./utilities/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
  }
@font-face {
    font-family: "Almarai";
    src: local("AlmaraiBold"),
      url("./utilities/fonts/Almarai-Bold.ttf") format("truetype");
    font-weight: normal ;
  }
  
@font-face {
    font-family: "Tajawal";
    src: local("TajawalRegular"),
      url("./utilities/fonts/Tajawal-Regular.ttf") format("truetype");
    font-weight: normal;
  }
