.brand-image {
  float: left;
  line-height: .8;
  margin-left: .8rem;
  margin-right: .5rem;
  margin-top: -3px;
  max-height: 33px;
  width: auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html,
body,
.wrapper {
  min-height: 100%;
}

.wrapper {
  position: relative;
}

/*
 * when  no footer
 * add : min-height: 94vh;
 */
.wrapper .content-wrapper {
  min-height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px));
}

.layout-boxed .wrapper {
  box-shadow: 0 0 10 rgba(0, 0, 0, 0.3);
}

.content-wrapper {
  background: #f4f6f9;
}
.content-header .breadcrumb {
  background: 0 0;
  line-height: 1.8rem;
  margin-bottom: 0;
  padding: 0;
}
.content-header {
  padding: 15px .5rem;
}
.content-header h1 {
  font-size: 1.8rem;
  margin: 0;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 7.5px;
  padding-left: 7.5px;
  margin-right: auto;
  margin-left: auto;
}

body:not(.sidebar-mini-md) .content-wrapper, body:not(.sidebar-mini-md) .main-footer, body:not(.sidebar-mini-md) .main-header {
  transition: margin-left .3s ease-in-out;
  margin-left: 250px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
