@import './../../utilities/scss/variables';

.neumorphism{
    border-radius: 16px;
    background: $background;
    box-shadow:  15px 15px 24px #e1e4e7,
                 -15px -15px 24px #ffffff;
    
}